.breadcrumbs {
    --color-text: #8B96A5;
    list-style: none;
    border-radius: 10px;
   width: 1180px;
   margin: 0 auto;
    padding-left: 0;
    padding: 20px 0;
  }
  .breadcrumbs li {
    display: inline;
  }
  .breadcrumbs li + li::before {
    content: "\003E";
    padding: 6px;
    color: var(--color-text);
  }
  .breadcrumbs li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-text);
    text-transform: capitalize;
  }
  .breadcrumbs li a:hover {
    text-decoration: underline;
  }
  @media(max-width:1190px){
    .breadcrumbs{
      width: 100%;
      padding-left: 16px;
      margin-bottom: 20px;
    }
  }
@media(max-width:431px){
  .breadcrumbs{
    margin-bottom: unset;
  }
}