.menu {
  display: none;
}

header form {
  display: none;
}
.button_head_icon {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

header a.mess,
a.order,
a.profile,
a.cart {
  
  justify-content: space-between;
}
.cart {
  margin-bottom: var(--block-margin);
}
.cart .wrp {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}
.cart .wrp h1 {
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  color: #1C1C1C;
  margin-top: 27px;
}
.cart_list {
  width: 880px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  padding: 23px 20px;
  gap: 20px;
}
.cart_list .cart_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}
.cart_list .cart_item a.more {
  display: none;
}
.cart_list .cart_item .name_row {
  display: flex;
  gap: 16px;
}
.cart_item .name_row h3 {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  color: #1C1C1C;
}
.cart_item span.total {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: end;
}
span.total select {
  padding: 10px 11px;
  border: 1px solid #dee2e7;
  border-radius: 8px;
  width: 123px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  color: #1c1c1c;
}
.cart_item .name_row .name_tag {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
}
.cart_item .name_row img {
  width: 80px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  align-items: center;
  padding: 4px;
}
.cart_item .name_row button {
  background: unset;
  border: unset;
  cursor: pointer;
}
.cart_item .name_row button img {
  width: 20px;
  border: unset;
}
.cart_list .cart_item.row {
  justify-content: space-around;
  padding: 16px 0;
  background: #f4f4f4;
  border-radius: 8px 8px 0 0;
  border: unset;
}
.cart_list .cart_item.row span.name_row {
  width: 400px;
}
.cart_right {
  width: calc(100% - 903px);
}
.wrp_cart_right {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.wrp_cart_right form {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 20px 16px;
  border: 1px solid #dee2e7;
  background: #ffffff;
  border-radius: 8px;
}
.secure .wrp {
  display: flex;
  flex-direction: row;
  gap: 54px;
  padding-bottom: 30px;
}

.secure span {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
strong.total{
  font-weight: 500;
  color: #1C1C1C;
}
.secure p {
  display: flex;
  flex-direction: column;
  color: #A9ACB0;
}
.secure strong{
  color: #1C1C1C;
}
.wrp_cart_right form label {
  border-bottom: 8px;
  border: 1px solid #dee2e7;
  border-radius: 8px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
form input,
button {
  padding: 11px 10px;
  border: unset;
  background: unset;
}
form button {
  border-left: 1px solid #dee2e7;
  color: #0d6efd;
  cursor: pointer;
}
form input {
  width: 164px;
}

.wrp_cart_right .bill {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  border: 1px solid #dee2e7;
  border-radius: 8px;
  background: #ffffff;
}
.bill span {
  display: flex;
  justify-content: space-between;
}
.bill span:nth-child(3) {
  padding-bottom: 17px;
  border-bottom: 1px solid #dee2e7;
}
p.discount {
  color: #fa3434;
}
p.tax {
  color: #00b517;
}
.bill span:nth-child(4) {
  padding: 20px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #1c1c1c;
}
.payment{
  display: flex;
  padding-top: 18px;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}
.payment a img{
  width: 50px;
}
span p.total{
  font-size: 20px;

}
.bill a.checkout {
  padding: 16px;
  text-align: center;
  background: #00b517;
  border-radius: 8px;
  color: #ffffff !important;
  font-weight: 500;
}
.series_detail span{
  display: flex;
  color: #8b96a5;
}
.series_detail span:not(:last-child)::after {
  content: ", ";
}




span strong {
 font-weight: 400;
}
.series_detail{
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.button_Cart {
  width: 100%;
  display: flex;
  padding-left: 91px;
  gap: 9px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
}
.button_Cart a {
  padding: 7px 10px;
  border: 1px solid #dee2e7;
  border-radius: 8px;
}
.button_Cart a.remove {
  color: #fa3434 !important;
  font-size: 13px;
  font-weight: 500;
}
a.later {
  color: #0d6efd !important;
}
.back {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back a.back_to {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  padding: 11px 14px;
  background: linear-gradient(180deg, #127fff 0%, #0067ff 100%);
  color: #ffffff !important;
  border-radius: 8px;
}
.back a.remove_all {
  align-items: center;
  padding: 14px 10px;
  background: #ffffff;
  color: #0d6efd !important;
  border-radius: 8px;
  border: 1px solid #dee2e7;
}
.save_later {
  margin-bottom: var(--block-margin);
}
.save_later .wrp {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #dee2e7;
  background: #ffffff;
}
.items_save {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.items_save .item {
  width: calc((100% - 60px) / 4);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  line-height: 24px;
}
.items_save img.img_later {
  padding: 24px;
  background: #eeeeee;
  width: 100%;
  border-radius: 8px;
}
.items_save span.price {
  font-weight: 600;
  font-size: 18px;
  color: #1c1c1c;
}
.items_save a {
  padding: 11px;
  display: flex;
  gap: 13px;
  color: #0d6efd !important;
  border: 1px solid #dee2e7;
  border-radius: 8px;
  font-size: 16px;
}
.items_save a.remove_later {
  display: none;
  color: #fa3434 !important;
}
.later_detail {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  color: #606060;
}
.quantity-control {
  display: none;
}
.later_detail p.row{
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
 
}
.name_tag h3.name{
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
 
}
@media (max-width: 1024px) {
  .cart_list {
    width: 100%;
    padding: 15px 0;
    border: none;
  }
  .payment{
    display: none;
  }
  .name_tag h3.name {
    width: 100%;
  }

  .cart_right {
    width: 100%;
  }
  .cart_item .name_row button {
    display: none;
  }
  .items_save .item {
    width: calc((100% - 40px) / 3);
  }
}
@media (max-width: 431px) {
  .cart_list .cart_item {
    gap: 19px;
  }
  header .wrp {
    display: none;
  }
  .bill span p {
    color: #2b2b2b;
    font-weight: 500;
  }
  .wrp_cart_right form {
    display: none;
  }
  .cart_list .cart_item .price_row {
    display: none;
  }
  .cart_list .cart_item.row {
    display: none;
  }
  .save_later .wrp{
    background: none;
    border: none;
  }
  .save_later .wrp h1 {
    font-size: 18px;
  }
  .cart_item .name_row .name_tag {
    justify-content: center;
    gap: 5px;
  }
  .name_tag h3.name {
    white-space: unset;
  }
  .secure .wrp {
    display: none;
  }
  .button_head_icon {
    display: none;
  }
  .breadcrumbs {
    display: none;
  }
  .button_Cart {
    display: none;
  }
  .items_save {
    flex-direction: column;
  }
  .items_save .item {
    width: 100%;
    background: #ffffff;
  }
  .items_save .item {
    gap: 8px;
    padding: 8px;
    border: 1px solid #dee2e7;
    border-radius: 8px;
  }
  .items_save img.img_later {
    padding: 0;
    width: 98px;
    background: unset;
  }
  .cart_item .name_row img {
    padding: 8px;
    width: 100px;
  }
  .cart_item span.total {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .find .wrp{
    display: none;
  }
  .later_detail {
    width: calc(100% - 106px);
    flex-wrap: wrap-reverse;
    gap: 5px;
  }
  span.ram,
  span.ssd {
    font-size: 13px;
  }
  .cart .wrp{
    background: #ffffff;
  }
  .cart .wrp h1{
    display: none;
  }
  .items_save a.remove_later {
    display: flex;
    width: 70px;
    margin-left: 6px;
  }
  .items_save span.price {
    order: 1;
    font-size: 16px;
    padding-bottom: 6px;
  }
  .cart_list .cart_item .name_row {
    gap: 10px;
    width: calc(100% - 45px);
  }
  .later_detail p.row {
    order: 2;
  }
  .items_save a {
    font-size: 13px;
    padding: 7px 10px;
  }
  .items_save a img{
    display: none;
  }
  .back {
    display: none;
  }
  .cart_list .cart_item a.more {
    display: flex;
  }
  .quantity-control {
    display: flex;
    width: 150px;
    border: 1px solid #dee2e7;
    border-radius: 8px;
  }
  span.total select {
    display: none;
  }
  .quantity-control input {
    border: unset;
    width: 70px;
    text-align: center;
    border-left: 1px solid #dee2e7;
    border-right: 1px solid #dee2e7;
  }
  .quantity-control button {
    width: 40px;
  }
  header .wrp {
    justify-content: space-between;
    gap: 0;
  }
}
