
#readMoreBtn {
    cursor: pointer;
    color: #1982F9;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 20%;
    background: rgba(255, 255, 255, 0.4); /* Màu nền với độ mờ 0.8 */
    backdrop-filter: blur(10px); /* Độ mờ cho background */
  }
.desc_content .wrp{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    gap: 16px;
    position: relative;
    padding-bottom: 30px;
    padding: 16px;
    background: #ffffff;
}
.desc_content p{
    line-height: 20px;
}
ul{
    line-height: 35px;
}
p mark{
    background: unset;
    color: black;
    font-weight: 600;
}