
.hot_product .wrp{
  flex-wrap: wrap;
  flex-direction: unset;
  gap: 12px;
}
.wrp .hot_selling{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.filter{
  width: 240px;
  display: flex;
  flex-direction: column;
}
.hot_product.maylike{
  display: none;
}
.fil_name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0;
  border-top: 1px solid #DEE2E7;
}
.sub_menu{
  display: none;
  flex-direction: column;

}
.sub_menu {
  display: none;
  overflow: hidden; /* Đảm bảo submenu không bị tràn ra ngoài */
  max-height: 0;
  transition: max-height 0.3s ease; /* Thêm transition cho max-height */
}
.sub_menu.active {
  display: flex; /* Hiển thị sub-menu khi active */
  max-height: 1000px; /* Đặt max-height cao để sub-menu mở ra đầy đủ */
}
.rage{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  cursor: pointer;
}
.noUi-horizontal{
  height: 8px !important;
}
.noUi-connect{
  background: #0D6EFD !important;
}
.noUi-target{
  margin-bottom: 12px;
}
.rage input{
  width: calc((100% - 20px ) /2 );
  padding:10px 11px;
   border-radius: 8px;
   border: 1px solid #DEE2E7;
}
a.check{
  width: 100%;
  text-align: center;
  padding: 11px 0 !important;
  border: 1px solid #DEE2E7;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}
.noUi-target{
  width: 100%;
}
.noUi-handle {
width: 20px;
height: 20px;
border-radius: 50%;
cursor: pointer;
background-color: #007bff;
border: 2px solid #fff;
}
.sub_menu a{
  padding: 9px 0;
  color: #505050 !important;

}
.sub_menu mark{
  background: unset;
  color:#0D6EFD;
  cursor: pointer;
}
.col_filter{
  display: flex;
  flex-direction: column;
 padding-bottom: 20px;
}
.col_filter label{
  padding: 9px 0;
  display: flex;
  align-items: center;
  gap: 13px;
  color: #1C1C1C;
}
.col_filter label input{
  width: 20px;
  height: 20px;
  accent-color:#0D6EFD
  ;
  cursor: pointer;
  border: 2px solid #BDBDBD;
  border-radius: 8px;
}
.product_right{
  width: calc(100% - 252px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product_right .head_product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #DEE2E7;
  padding: 23px 20px;
  border-radius: 8px;
  align-items: center;
  background: #ffffff;
}
.page_num{
  display: flex;
  flex-direction: row;
  gap: 9px;
  justify-content: end;
}
.page_num .num_page{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #DEE2E7;
  border-radius: 8px;
}
.num_page a{
  padding: 8px 10px;
  border-right: 1px solid #DEE2E7;

  background-color: #ffffff;
  width: 46px;
  text-align: center;
}
.detail_product p.name{
  width: 70%;
}
.num_page a.active{
  background: #EFF2F4;
}
.num_page a:hover{
  background: #EFF2F4;
}
.num_page a:first-child{
  border-radius: 8px 0 0 8px;
}
.num_page a:last-child{
  border: unset;
  border-radius: 8px;
}
.noUi-handle:after, .noUi-handle:before{
  display: none !important;
}
.noUi-horizontal .noUi-handle{
  top: -5px !important;
  width: 20px !important;
  height: 20px !important;
}
.num_page a img{
  display: flex;
  width: 20px;
}
.page_num select{
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #DEE2E7;
}
.head_product .head_num{
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.head_product .button_head{
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.head_product .button_head .view{
  display: flex;
  border: 1px solid #DEE2E7;
  border-radius: 8px;
}
a.grid{
  border-right: 1px solid #DEE2E7;
}
.head_product .button_head a{
  display: flex;
  padding: 5px 7px;

}
.head_product .button_head a:hover{
  background: #EFF2F4;

}
.head_product .button_head a.active{
  background: #EFF2F4;

}
.head_product .button_head select{
  width: 172px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #DEE2E7;
  cursor: pointer;
}
.tag_item{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.tag_item a{
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 9px;
  padding: 7px 10px;
  border: 1px solid #0D6EFD;
  border-radius: 8px;
  color: #505050;

}
.button_head label{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.button_head label input{
  width: 20px;
  height: 20px;
  border: 2px solid #BDBDBD;
  border-radius: 8px;
  cursor: pointer;
}
.detail_product mark.price{
  font-size: 18px;
  color: #1C1C1C !important;
}
del.old_price{
  font-size: 16px;
  color: #8B96A5;
}
a.items .detail_product{
  border-top: 1px solid #EFF2F4
  ;
  align-items: start;
  padding: 17px 20px;
}
a.items .detail_product p.order{
  color: #8B96A5;
}
a.items .detail_product img{
  padding: 0;
}
img.like {
  position: absolute;
  right: 5%;
  border: 1px solid #dee2e7;
  padding: 8px !important;
  border-radius: 8px;
}
.hot_product .hot_selling a.items img.item_img{

  padding: 23px 37px;
}
.hot_product .hot_selling a.items{
  width: calc((100% - 40px) / 3 );
  padding: 0;
  gap: 0;
}
.mobi_filter{
  display: none;
}
.noUi-touch-area{
  cursor: pointer;
}
.noUi-handle{
  border-radius: 100% !important;
}
.dot{
  margin: 0 4px;
}
a.clear{
  background: unset;
  color: #0D6EFD;
border: unset;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
cursor: pointer;
}
@media(max-width:991px){
 
  .mobi_filter{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .button_head label{
    display: none;
  }

  .filter{
    display: none;
  }
  .filter.active{
    display: flex;
    position: fixed;
    background: #ffffff;
    top: 0;
    height: 100%;
    width: 80%;
    overflow-y: auto;
    z-index: 20;
    left: 0;
    padding: 0 16px;
  }
  .product_right{
    width: 100%;
  }
  .mobi_filter a{
    justify-content: center;
    width: 135px;
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 13px;
    border: 1px solid #DEE2E7;
    border-radius: 8px;
  }
}
@media(max-width:431px){
  .hot_product .hot_selling a.items{
    width:100%;
  }
  .head_product .button_head{
    height: 100%;
  }
  .head_product .button_head .view{
    height: 100%;
 
  }
  .head_product .button_head a{
    padding: 5px;
  }
  .top{
    display: flex;
    flex-direction: column-reverse;
  }
  header a.menu_tags{
    display: none !important;
  }
  .menu_logo{
    display: none !important;
  }
  header a.logo{
    display: none !important;
  }
.hidden_icon{
  padding-left: 90px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
header form input{
  padding-left: 6px;
}
.hidden_icon a{
  display: flex;
}
.hot_product .wrp{
  padding-top: 128px;
  padding-left:0 ;
  padding-right: 0;
}
.detail_product p.name{
  width: 100%;
}
  .breadcrumbs {
   display: none;
  }
  .product_right .head_product{
    padding: 10px 11px;
    gap: 4px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #DEE2E7;
}
.tag_item a{
  flex: 0 0 27vw;
  white-space: nowrap;
}
a.back_arrow{
  display: flex;
}
  del.old_price {
    display: none;
  }
  .head_product .head_num{
    display: none;
  }
  .head_product .button_head select{
    display: none;
  }
  .tag_item{
    overflow-x: auto;
    padding: 0 10px;
  }
  .wrp .hot_selling{
    padding: 0 10px;
  }
  .product_right{
    gap: 10px;
  }
  .hot_product.maylike{
    display: flex;

  }
  .hot_product.maylike .wrp{
    padding: 0;
    width: 100%;
  }
  .hot_product.maylike .hot_selling{
    width: 100%;
    flex-wrap: initial;
    overflow-x: auto;
  }
  .hot_product.maylike .hot_selling a.items{
    flex: 0 0 44vw;
  }
}
@media(max-width:391px){
  .hot_product .wrp{
    padding-top: 145px;
  }
}
