.hot_selling a.items {
  width: 100%;
  flex-direction: row;
  position: relative;
}
a.items .detail_product{
    position: unset;
    flex-wrap: wrap;
    flex-direction: unset;
    align-items: center;
}
a.items .detail_product img{
    padding: 0 ;
}
.detail_product p.name{
    width: 100%;
    color: #1c1c1c;
    font-weight: 500;
    line-height: 22px;
}

img.like{
    top: 5%;
    right: 2%;
}
mark.shipping{
    background: unset;
    color: #00B517;
}

mark.detail{
    background: unset;
    color: #0D6EFD;
}
del.old_price{
    color: #909499;
    width: 73%;
}
.hot_product .hot_selling a.items{
    width: 100%;
    flex-direction: row;
    gap: 8px;
}
.detail_product mark.price{
    font-size: 20px;
}
@media(max-width:433px){
    .hot_product .hot_selling a.items{
       flex-direction: unset;
    }
    .hot_product{
        margin-bottom: 20px;
    }
    .detail_product p.name{
        color: #505050;
    }
    .hot_product.maylike .detail_product p.name{
        color: #8B96A5;
    }
    .hot_product.hot_product.maylike .hot_selling a.items img{
        width: 100%;
    }
    .hot_product.maylike .hot_selling a.items{
        flex-direction: column;
    }
    p.row{display: none;}
    .hot_selling a.items img
    {  
        width: 100px;
    }
    .hot_selling a.items img.like{
        display: none;
    }
    .detail_product mark.price{
        font-size: 16px;
        width: 100%;
        color: #333333 !important;
        font-weight: 600;
    }
    .hot_product.maylike mark.price{
        font-weight: 500;
    }
    mark.detail{
        display: none;
    }
    .mobi_filter a{
        padding: 5px;
    }
    del.old_price{
        display: none;
    }
    .detail_product span.dot:nth-of-type(2) {
        display: none;
      }
      a.items .detail_product{
        padding: 10px;
      }
  
}